streamlit
supabase
plotly
altair
pydantic
python-dotenv
pandas
numpy
folium
streamlit-folium
streamlit-authenticator
streamlit-extras
openai
langgraph
langchain
langchain-openai
sqlalchemy
streamlit_cookies_controller
PyPDF2
langchain_community
langchain_core
psycopg2-binary
streamlit_lottie
pikepdf
google-api-python-client
google-auth
openpyxl